div {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0
}
object {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}
#main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}    
#head {
    position: sticky;
    top: 0;
    width: 100%;
    height: 85px;
    left: 0;
    z-index: 10;
}
#corps {
    top: 85px;
    left: 0;
    width: 100%;
    height: 100%;
}

#controls {
    top: 0;
    height: 22px;
    left:   0%;
    width: 100%;
    background-color: black;
}
#titleDiv {
    top:    22px;
    left:   0;
    width:  25%;
    height: 63px;
}
#headDiv {
    top:    22px;
    left:   25%;
    width:  75%;
    height: 63px;
    margins: 0;
    padding: 0
}
#taskDiv {
    top:   0%;
    left:  0;
    width:  25%;
}
#ganttDiv {
    top:   0%;
    left:  25%;
    width:  75%;
}
#ganttWindow {
    width:  100%;
    height: 100%
}
.schema {
    position: absolute;
    width: 100%;
    height: 100%;
    }
